<form [formGroup]="profileForm" class="form" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>First Name:</mat-label>
      <input matInput id="first-name" type="text" formControlName="firstName" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Last Name:</mat-label>
      <input matInput id="last-name" type="text" formControlName="lastName" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>

  <button mat-flat-button color="primary">Submit</button>
</form>
